.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-container {
  background-color: white;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #282c34;
}

.App-row{
  width:50%;
  margin-left:25%;
  background-color: white;
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

.App-logo{
  width:200px;
  position: absolute;
  top:1%;
  left:25%;
}

.App-date{
  font-weight: 200;
}

.App-row p{
  font-size: 15px;
}

.seoul-title p{
  font-size: 28px;
  font-weight: 500;
}

.seoul-population .p-number{
  font-size: 22px;
  font-weight: 500;
}

.seoul-house .h-number{
  font-size: 22px;
  font-weight: 500;
}

.seoul-deposit .d-number{
  font-size: 22px;
  font-weight: 500;
}

.seoul-rent .r-number{
  font-size: 22px;
  font-weight: 500;
}

.App-row .seoul-info{
  font-size: 13px;
}

#people {
  margin-top:5%;
  margin-left: 12%;
}

#people > div{
  border: 1px solid #E6E6E6;
  border-radius: .25rem;
}

#districtType {
  margin-top:5%;
  margin-left: 27%;
}

#districtType> div{
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

#house {
  margin-top:5%;
  margin-left: 12%;
}

#house> div{
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

#deposit {
  margin-top:5%;
  margin-left: 27%;
}

#deposit> div{
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

#rent {
  margin-top:5%;
  margin-left: 27%;
}

#rent> div{
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

#houseType {
  margin-top:5%;
  margin-left: 27%;
}

#houseType> div{
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

#bedCnt {
  margin-top:5%;
  margin-left: 27%;
  margin-bottom: 5%;
}

#bedCnt> div{
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

.Summary-title p{
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.Summary2-title p{
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

#people p{
  font-size: 28px;
  font-weight: 500;
  margin-left: 38%;
}