.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-container {
  background-color: white;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #282c34;
}

.App-row{
  width:50%;
  margin-left:25%;
  background-color: white;
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

.App-logo{
  width:200px;
  position: absolute;
  top:1%;
  left:25%;
}

.App-date{
  font-weight: 200;
}

.App-row p{
  font-size: 15px;
}

.seoul-title p{
  font-size: 28px;
  font-weight: 500;
}

.seoul-population .p-number{
  font-size: 22px;
  font-weight: 500;
}

.seoul-house .h-number{
  font-size: 22px;
  font-weight: 500;
}

.seoul-deposit .d-number{
  font-size: 22px;
  font-weight: 500;
}

.seoul-rent .r-number{
  font-size: 22px;
  font-weight: 500;
}

.App-row .seoul-info{
  font-size: 13px;
}

#people {
  padding-top:3%;
  padding-left: 12%;
}

#people > div{
  border: 1px solid #E6E6E6;
  border-radius: .25rem;
}

#gender {
  padding-top:3%;
  padding-left: 27%;
  padding-bottom: 3%;
}

#gender > div{
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

#districtType {
  padding-top:3%;
  padding-left: 27%;
}

#districtType> div{
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

#house {
  padding-top:3%;
  padding-left: 12%;
}

#house> div{
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

#deposit {
  padding-top:3%;
  padding-left: 27%;
}

#deposit> div{
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

#deposit1 {
  padding-top:3%;
  padding-left: 27%;
}

#deposit1> div{
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

#deposit2 {
  padding-top:3%;
  padding-left: 27%;
}

#deposit2> div{
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

#deposit3 {
  padding-top:3%;
  padding-left: 27%;
}

#deposit3> div{
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

#deposit4 {
  padding-top:3%;
  padding-left: 27%;
}

#deposit4> div{
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

#rent {
  padding-top:3%;
  padding-left: 27%;
}

#rent> div{
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

#rent1 {
  padding-top:3%;
  padding-left: 27%;
}

#rent1> div{
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

#rent2 {
  padding-top:3%;
  padding-left: 27%;
}

#rent2> div{
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

#rent3 {
  padding-top:3%;
  padding-left: 27%;
}

#rent3> div{
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

#rent4 {
  padding-top:3%;
  padding-left: 27%;
}

#rent4> div{
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

#houseType {
  padding-top:3%;
  padding-left: 27%;
}

#houseType> div{
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

#bedCnt {
  padding-top:3%;
  padding-left: 27%;
}

#bedCnt> div{
  border: 2px solid #E6E6E6;
  border-radius: .25rem;
}

.Summary2-title p{
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

#people p{
  font-size: 28px;
  font-weight: 500;
  padding-left: 38%;
}

.App-menu{
  background-color: #f7f7f7;
  border-bottom: 1px solid #dee2e6;
  padding: 2px;
  height: 60px;
}

.App-menu button{
  background-color: #f7f7f7;
  border: 0 white;
  outline:0;
  font-size: 20px;
  color: rgba(0,0,0,.5);
  padding-top: 15px;
}

.App-menu button:hover{
  color: black;
}

.App-menu #btn1{
  padding-left: 30px;
  padding-right: 30px;
}

.App-menu #btn2{
  padding-left: 30px;
  padding-right: 30px;
}

.App-menu #btn3{
  padding-left: 30px;
  padding-right: 30px;
}

.App-menu #btn4{
  padding-left: 30px;
  padding-right: 30px;
}

svg circle {
  fill: blue;
  opacity: .5;
  stroke: white;
}
svg circle:hover {
  fill: red;
  stroke: #333;
}
svg text {
  pointer-events: none;
}
svg .municipality {
  fill: white;
  stroke: orange;
}
svg #map text {
  color: #333;
  font-size: 12px;
  text-anchor: middle;
}

a.top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
}

a.top img{
  width:50px;
}

#seoul_map{
  padding-top:3%;
  padding-left: 20%;
}


#Summary-title p{
  font-size: 28px;
  font-weight: 500;
  padding-left: 29%;
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 150px;
  right: 25%;
  margin-top: 10%;					
  height: 35px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: black;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;
  color:white;			
}