.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-container {
  background-color: white;
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #282c34;
}

.App-row{
  width:50%;
  margin-left:25%;
  background-color: white;
  border: 2px solid #E6E6E6;
  border-radius: 12px;
}

.App-row p{
  font-size: 15px;
}

.seoul-title p{
  font-size: 28px;
}

.seoul-population .p-number{
  font-size: 22px;
  font-weight: 500;
}

.seoul-house .h-number{
  font-size: 22px;
  font-weight: 500;
}

.seoul-deposit .d-number{
  font-size: 22px;
  font-weight: 500;
}

.seoul-rent .r-number{
  font-size: 22px;
  font-weight: 500;
}

.App-row .seoul-info{
  font-size: 13px;
}

#people {
  margin-top:5%;
  margin-left: 12%;
}

#districtType {
  margin-top:5%;
  margin-left: 12%;
}

#house {
  margin-top:5%;
  margin-left: 12%;
}


#deposit {
  margin-top:5%;
  margin-left: 12%;
}

#rent {
  margin-top:5%;
  margin-left: 12%;
}

#houseType {
  margin-top:5%;
  margin-left: 12%;
}

#bedCnt {
  margin-top:5%;
  margin-left: 12%;
}

#column{
  margin-top:5%;
  margin-left: 12%;
}

#line {
  margin-top:5%;
  margin-left: 12%;
}